<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		{% include header.html %}
		{% include about.html %}
		{% include page_content.html %}
		{% include contact.html %}
		{% include footer.html %}
		{% include js.html %}
<script type='text/javascript'>
//<![CDATA[
// Youtube Responsive
setTimeout(function(){$(".video-youtube").each(function(){$(this).replaceWith('<iframe class="video-youtube loader" src="'+$(this).data("src")+'" allowfullscreen="allowfullscreen" height="281" width="500"></iframe>')})},5e3);
//]]>
</script>
	</body>
</html>
